#Commission h1 {
    margin-top: 7%;
    font-size: 2.7em;
}

#Commission {
    position: relative;
    border: 1px solid transparent;
}

.commission-options {
    position: absolute;
    left: 10%;

    height: 500px;
    width: 800px;
}

.pseudo-form {
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 700px;
}

.options-display {
    position: absolute;
    right: 2%;

    height: 575px;
    width: 800px;
}

.options-display div {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.radio-options {
    float: left;
    text-align: left;
}

.check-options {
    float: right;
    width: 50%;
    text-align: left;
}

/*  Customizing Radio & Checkbox buttons.
    Move to seperate css file later
*/

.radio-options-container {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1.5em;
    cursor: pointer;
    font-size: 1.4em;
    user-select: none;
}

.check-options-container {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1.5em;
    cursor: pointer;
    font-size: 1.4em;
    user-select: none;
}

.check-disabled {
    cursor: not-allowed;
}

.radio-options-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-options-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkcircle {
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 25px;
    background-color: #aac2c0;
    border-radius: 50%;
}

.checkbox {
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 25px;
    background-color: #aac2c0;
}

.radio-options-container:hover input ~ .checkcircle {
    background-color: #737e7d;;
}

.check-options-container:hover input ~ .checkbox {
    background-color: #737e7d;;
}

.radio-options-container input:checked ~ .checkcircle {
    background-color: #444b4a;;
}

.check-options-container input:checked ~ .checkbox {
    background-color: #444b4a;;
}

.checkcircle:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-options-container input:checked ~ .checkcircle:after {
    display: block;
}

.check-options-container input:checked ~ .checkbox:after {
    display: block;
}

.radio-options-container .checkcircle:after{
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #eee;
}

.check-options-container .checkbox:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #eee;
}

/* End of Button Customization */

.price-total-container {
    position: absolute;
    bottom: 6%;
    left: 50%;

    transform: translateX(-50%);

    width: 300px;
    height: 50px;

    font-size: 1.7em;
    text-align: left;
}

.checkout {
    position: absolute;
    right: 0;
    top: 0;
}

.checkout button {
    padding: .75em 1.7em;
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);

    border: none;
}

.checkout:hover button {
    cursor: pointer;
    background: rgb(23, 235, 73);
}

.checkout:active button {
    transform: scale(0.9);
}