.welcome-container {
    color: #000;
}

.welcome-container h1 {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;

    font-size: 5em;
    font-weight: lighter;
}