/* Full viewport */
.home-page {
    height: 100vh;
    width: 99vw;
}

.home-container {
    position: absolute;

    height: 100%;
    width: 100%;

    overflow: hidden;

    display: grid;
    grid-template-areas:
        'img-top-left welcome-container welcome-container'
        'img-bottom-left img-bottom-middle img-bottom-right';
}

.home-container img {
    /* height: 100%;
    width: 100%; */

    overflow: hidden;
}

.img-top-left,
.img-bottom-left,
.img-bottom-middle,
.img-bottom-right {
    height: 45.5vh;
}

.welcome-container {
    grid-area: welcome-container;

}

.img-top-left {
    grid-area: img-top-left;
}

.img-bottom-left {
    grid-area: img-bottom-left;
}

.img-bottom-middle {
    grid-area: img-bottom-middle;
}

.img-bottom-right {
    grid-area: img-bottom-right;
}

/* Media Queries */